[href^="https"]{
    color: red;
}
 ul+p {
    font-size: 24px;
}
 div>h3:first-child  {
    color: pink;
}
#greycol{
    color: gray;
}

div div p {
  color: red;
}


div~ p  {
    color: green;
}
.yellow{
    color: yellow;
} 