[href^="https"]{
    color: red;
}
 ul+p {
    font-size: 24px;
}
 div>h3  {
    color: pink;
}
#greycol{
    color: gray;
}

h3>p {
  color: red;
}
div~ p  {
    color: green;
}
.yellow{
    color: yellow;
}